#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  /* padding: 1rem; */
  /* text-align: center;  */
    
}
.rdp-root {
  --rdp-accent-color: black; /* Change the accent color to indigo. */
  --rdp-accent-background-color: rgb(0, 0, 0); /* Change the accent background color. */
  /* Add more CSS variables here. */
  --rdp-day-height: 30px; /* Set the height of each day cell. */
  --rdp-day-width: 40px;  
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy-regular-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/gilroy-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}